apiVersion: v1
kind: Service
metadata:
  name: visit-counter-service
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: nlb
spec:
  type: LoadBalancer
  ports:
    - port: 8080
      targetPort: 8000
      protocol: TCP
  selector:
    app: visit-counter